PORT="" 				# Provide a value for PORT

MONGODB_URI="" 				# Provide a value for MONGODB_URI

APP_ORIGIN="" 				# Provide a value for APP_ORIGIN

JWT_SECRET="" 				# Provide a value for JWT_SECRET
JWT_REFRESH_SECRET="" 				# Provide a value for JWT_REFRESH_SECRET

EMAIL_SENDER="" 				# Provide a value for EMAIL_SENDER
RESEND_API_KEY="" 				# Provide a value for RESEND_API_KEY